In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.rc('font', family='Malgun Gothic')
sns.set(font="Malgun Gothic",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

In [82]:
#자전거 이용률
data1 = pd.read_csv("C:/Users/user/Desktop/데분/bigcam/자전거+이용률_20231029112659.csv")

#자전거 이용환경 만족도
data2 = pd.read_csv("C:/Users/user/Desktop/데분/bigcam/자전거+이용환경+만족도_20231029112736.csv")

#자전거 주차시설 현황
data3 = pd.read_csv("C:/Users/user/Desktop/데분/bigcam/자전거+주차시설+현황_20231029113119.csv")

#자전거 편의시설
data4 = pd.read_csv("C:/Users/user/Desktop/데분/bigcam/서울시 자전거 편의시설.csv", encoding = 'cp949')

#대여소별 이용정보(22.7~22.12)
data5 = pd.read_csv("C:/Users/user/Desktop/데분/bigcam/서울특별시 공공자전거 대여소별 이용정보(월별)_22.7-22.12.csv", encoding = 'cp949')

#대여소별 이용정보(23.1~23.6)
data6 = pd.read_csv("C:/Users/user/Desktop/데분/bigcam/서울특별시 공공자전거 대여소별 이용정보(월별)_23.1-6.csv", encoding = 'cp949')

#이용정보(22.7~22.12)
data7 = pd.read_csv("C:/Users/user/Desktop/데분/bigcam/서울특별시 공공자전거 이용정보(월별)_22.07_22.12.csv", encoding = 'cp949')

#이용정보(23.1~23.6)
data8 = pd.read_csv("C:/Users/user/Desktop/데분/bigcam/서울특별시 공공자전거 이용정보(월별)_23.1-6.csv", encoding = 'cp949')

#자전거 교통사고
data9 = pd.read_csv("C:/Users/user/Desktop/데분/bigcam/자전거+교통사고_20231029112523.csv")

#자전거 도로현황
data10 = pd.read_csv("C:/Users/user/Desktop/데분/bigcam/자전거도로+현황(2013년+이후)_20231029115857.csv", encoding = 'cp949')

# 편의시설

In [107]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2992 entries, 0 to 2991
Data columns (total 47 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   순서          2992 non-null   int64
 1   시설ID        2992 non-null   object
 2   컨텐츠 명       2992 non-null   object
 3   사용유무        2992 non-null   object
 4   테마 타입       2992 non-null   object
 5   x 좌표        2992 non-null   float64
 6   y 좌표        2992 non-null   float64
 7   좌표 배열       2992 non-null   object
 8   좌표타입        2990 non-null   object
 9   메인 이미지      110 non-null    object
 10  새 주소        2857 non-null   object
 11  구 주소        2969 non-null   object
 12  우편번호        2857 non-null   float64
 13  국가 지점 번호    1223 non-null   object
 14  테마 명        2992 non-null   object
 15  거리          2992 non-null   float64
 16  업데이트 일      2992 non-null   object
 17  등록일         2992 non-null   object
 18  이미지 URL1    110 non-null    object
 19  이미지 URL2    1 non-null      object
 20  이미지 URL3    0 non-null      float64
 21  이미지 URL4    0 non-null      float64
 22  이미지 URL5    0 non-null      float64
 23  동영상 URL     0 non-null      float64
 24  음성파일 URL    0 non-null      float64
 25  평가 점수       0 non-null      float64
 26  평가자 인원      0 non-null      float64
 27  상세정보 이름 1   2976 non-null   object
 28  상세정보 값 1    285 non-null    object
 29  상세정보 이름 2   2992 non-null   object
 30  상세정보 값 2    1964 non-null   object
 31  상세정보 이름 3   2987 non-null   object
 32  상세정보 값 3    782 non-null    object
 33  상세정보 이름 4   2992 non-null   object
 34  상세정보 값 4    942 non-null    object
 35  상세정보 이름 5   2989 non-null   object
 36  상세정보 값 5    1004 non-null   object
 37  상세정보 이름 6   2992 non-null   object
 38  상세정보 값 6    26 non-null     object
 39  상세정보 이름 7   2991 non-null   object
 40  상세정보 값 7    19 non-null     object
 41  상세정보 이름 8   2988 non-null   object
 42  상세정보 값 8    6 non-null      object
 43  상세정보 이름 9   2987 non-null   object
 44  상세정보 값 9    18 non-null     object
 45  상세정보 이름 10  721 non-null    object
 46  상세정보 값 10   721 non-null    object
dtypes: float64(11), int64(1), object(35)
memory usage: 1.1+ MB

# 대여소별 이용정보

In [24]:
ro_df = pd.concat([data5, data6], axis = 0)

In [34]:
ro_df[ro_df['반납건수'].str.startswith('-')]

       자치구                 대여소명    기준년월 대여건수 반납건수
1640   성동구            9980. 에이텍  202207    3    -
6955   성동구            9980. 에이텍  202209    5    -
11797  동작구  2016. 신대방삼거리역 3번출구쪽  202211    1    -

In [35]:
ro_df['대여건수'] = ro_df['대여건수'].str.replace('-', '0')
ro_df['반납건수'] = ro_df['반납건수'].str.replace('-', '0')

In [36]:
ro_df['대여건수'] = ro_df['대여건수'].apply(lambda x: int(str(x).replace(',', '')))
ro_df['반납건수'] = ro_df['반납건수'].apply(lambda x: int(str(x).replace(',', '')))

In [40]:
def get_season(month):
    if 3 <= month <= 5:
        return '봄'
    elif 6 <= month <= 8:
        return '여름'
    elif 9 <= month <= 11:
        return '가을'
    else:
        return '겨울'

ro_df['계절'] = ro_df['기준년월'].apply(lambda x: get_season(int(str(x)[-2:])))

ro_df

       자치구                            대여소명    기준년월  대여건수  반납건수  계절
0      강남구                2301. 현대고등학교 건너편  202207  2170  2183  여름
1      강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)  202207  1140  1143  여름
2      강남구                 2303. 논현역 10번출구  202207  1329  1196  여름
3      강남구                    2304. 대현그린타워  202207   288   104  여름
4      강남구              2305. MCM 본사 직영점 앞  202207   334   342  여름
...    ...                             ...     ...   ...   ...  ..
16301  중랑구              4837. 양원지구 힐데스하임 앞  202306   853   827  여름
16302  중랑구             4838.동원사거리 행복오피스텔 앞  202306   900   669  여름
16303  중랑구                4840. 서울시 북부병원 앞  202306   875   897  여름
16304  중랑구                    4841. 중화수경공원  202306  1886  2147  여름
16305  중랑구              4842. 면목라온프라이빗 아파트  202306   765   867  여름

[32325 rows x 6 columns]

In [41]:
ro_df.groupby('계절')['대여건수'].mean()

계절
가을    1628.928064
겨울     684.940988
봄     1582.040529
여름    1570.579177
Name: 대여건수, dtype: float64

In [44]:
ro_df.groupby('자치구')['대여건수'].mean()

자치구
강남구      681.064549
강동구     1340.728907
강북구      898.406077
강서구     2280.663960
관악구     1277.120045
광진구     2042.633205
구로구     1316.800305
금천구      860.158963
노원구     1622.228571
도봉구     1028.537246
동대문구    1582.586489
동작구     1076.178571
마포구     1536.130643
서대문구     913.965200
서초구      779.454545
성동구     1563.355455
성북구     1100.345566
송파구     1602.370457
양천구     1971.822308
영등포구    2036.537592
용산구      843.465310
은평구      974.152921
종로구     1227.755396
중구       999.367210
중랑구     1123.963523
Name: 대여건수, dtype: float64

# 이용 만족도

In [50]:
data2.rename(columns = {'구분별(2)' : '대구분',
                        '구분별(3)' : '소구분',
                        '2019' : '매우불만족(%)',
                        '2019.1' : '약간불만족(%)',
                        '2019.2' : '보통(%)',
                        '2019.3' : '약간만족(%)',
                        '2019.4' : '매우만족(%)',
                        '2019.5' : '10점평균'}, inplace = True)

In [53]:
us_df = data2.iloc[1:,1:]

In [58]:
us_df

      대구분           소구분 매우불만족(%) 약간불만족(%) 보통(%) 약간만족(%) 매우만족(%) 10점평균
1      소계            소계      1.2     12.4  37.3    42.5     6.6  6.02
2      성별            남자      1.2     12.0  37.4    42.7     6.7  6.04
3      성별            여자      1.1     13.1  37.1    42.1     6.5  5.99
4     연령별           10대      0.8     12.5  38.7    39.0     8.9  6.07
5     연령별           20대      1.2      8.8  43.0    40.6     6.5  6.06
6     연령별           30대      0.8     12.9  37.8    42.1     6.4  6.01
7     연령별           40대      1.0     14.5  34.7    44.1     5.7  5.98
8     연령별           50대      1.8     15.2  36.0    41.2     5.8  5.85
9     연령별        60대 이상      1.5     12.2  31.0    47.8     7.5  6.19
10    학력별         중졸 이하      0.4     10.9  30.2    51.3     7.2  6.35
11    학력별         고졸 이하      1.6     15.0  36.9    39.8     6.8  5.88
12    학력별         대졸 이하      1.0     11.5  38.4    42.6     6.5  6.05
13    학력별        대학원 이상      2.6     11.4  31.5    49.6     5.0  6.07
14    소득별      100만원 미만        -      7.1  27.4    56.8     8.7  6.68
15    소득별  100-200만원 미만      1.1     14.1  26.2    51.9     6.7  6.23
16    소득별  200-300만원 미만      2.0     10.4  38.9    39.2     9.6  6.10
17    소득별  300-400만원 미만      1.5     12.9  33.4    46.1     6.1  6.06
18    소득별  400-500만원 미만      0.8     12.3  35.5    45.0     6.4  6.10
19    소득별      500만원 이상      1.1     12.9  40.1    39.9     6.1  5.92
20  혼인상태별            기혼      1.4     13.8  34.4    44.2     6.1  5.99
21  혼인상태별            미혼      0.9     10.8  41.2    40.0     7.1  6.04
22  혼인상태별      이혼/사별/기타      1.0     12.0  34.3    45.4     7.4  6.16
23  지역대분류           도심권      1.0      3.6  38.8    52.3     4.4  6.39
24  지역대분류           동북권      1.6     14.0  39.3    39.1     6.0  5.85
25  지역대분류           서북권      1.7     14.6  31.4    42.4     9.8  6.10
26  지역대분류           서남권      1.1     12.3  41.9    39.4     5.3  5.89
27  지역대분류           동남권      0.4     10.8  28.3    51.8     8.8  6.45
28  지역소분류           종로구      0.8      3.0  34.4    56.8     5.0  6.55
29  지역소분류            중구      3.4      4.7  33.8    56.3     1.8  6.21
30  지역소분류           용산구        -      3.7  46.2    45.1     5.0  6.28
31  지역소분류           성동구      6.2     18.5  33.1    38.6     3.6  5.37
32  지역소분류           광진구      0.2     15.3  34.4    43.6     6.5  6.02
33  지역소분류          동대문구      0.4     19.7  30.7    48.0     1.1  5.74
34  지역소분류           중랑구      2.7      9.7  31.3    47.3     9.0  6.26
35  지역소분류           성북구      2.1     11.0  51.5    33.8     1.6  5.54
36  지역소분류           강북구        -      4.2  78.5    12.4     5.0  5.45
37  지역소분류           도봉구      0.7     21.9  41.6    27.8     7.9  5.50
38  지역소분류           노원구      2.6     10.9  38.9    38.5     9.2  6.02
39  지역소분류           은평구      1.6     14.8  35.5    43.9     4.3  5.86
40  지역소분류          서대문구      2.9     12.4  19.7    48.0    17.0  6.59
41  지역소분류           마포구      0.8     16.4  37.3    35.9     9.6  5.93
42  지역소분류           양천구        -      1.7  56.6    41.7       -  6.00
43  지역소분류           강서구      0.6      7.6  39.3    50.9     1.6  6.14
44  지역소분류           구로구      4.1     22.7  33.3    29.9    10.0  5.47
45  지역소분류           금천구        -      9.4  34.2    46.5    10.0  6.43
46  지역소분류          영등포구      1.6     21.6  44.4    23.6     8.9  5.41
47  지역소분류           동작구      1.5     22.8  32.0    35.6     8.1  5.64
48  지역소분류           관악구      1.3     15.0  32.8    42.5     8.4  6.05
49  지역소분류           서초구      0.4     10.8  25.8    50.2    12.8  6.60
50  지역소분류           강남구      0.3      9.7  23.7    61.9     4.4  6.51
51  지역소분류           송파구      0.4      8.0  31.9    49.9     9.8  6.52
52  지역소분류           강동구      0.4     18.6  32.3    39.2     9.4  5.96

In [68]:
us_df_gender = us_df.loc[2:3]
us_df_age = us_df.loc[4:9]
us_df_edu = us_df.loc[10:13]
us_df_income = us_df.loc[14:19]
us_df_married = us_df.loc[20:22]
us_df_place = us_df.loc[28:]

In [70]:
us_df_place.sort_values(by = '10점평균')

      대구분   소구분 매우불만족(%) 약간불만족(%) 보통(%) 약간만족(%) 매우만족(%) 10점평균
31  지역소분류   성동구      6.2     18.5  33.1    38.6     3.6  5.37
46  지역소분류  영등포구      1.6     21.6  44.4    23.6     8.9  5.41
36  지역소분류   강북구        -      4.2  78.5    12.4     5.0  5.45
44  지역소분류   구로구      4.1     22.7  33.3    29.9    10.0  5.47
37  지역소분류   도봉구      0.7     21.9  41.6    27.8     7.9  5.50
35  지역소분류   성북구      2.1     11.0  51.5    33.8     1.6  5.54
47  지역소분류   동작구      1.5     22.8  32.0    35.6     8.1  5.64
33  지역소분류  동대문구      0.4     19.7  30.7    48.0     1.1  5.74
39  지역소분류   은평구      1.6     14.8  35.5    43.9     4.3  5.86
41  지역소분류   마포구      0.8     16.4  37.3    35.9     9.6  5.93
52  지역소분류   강동구      0.4     18.6  32.3    39.2     9.4  5.96
42  지역소분류   양천구        -      1.7  56.6    41.7       -  6.00
38  지역소분류   노원구      2.6     10.9  38.9    38.5     9.2  6.02
32  지역소분류   광진구      0.2     15.3  34.4    43.6     6.5  6.02
48  지역소분류   관악구      1.3     15.0  32.8    42.5     8.4  6.05
43  지역소분류   강서구      0.6      7.6  39.3    50.9     1.6  6.14
29  지역소분류    중구      3.4      4.7  33.8    56.3     1.8  6.21
34  지역소분류   중랑구      2.7      9.7  31.3    47.3     9.0  6.26
30  지역소분류   용산구        -      3.7  46.2    45.1     5.0  6.28
45  지역소분류   금천구        -      9.4  34.2    46.5    10.0  6.43
50  지역소분류   강남구      0.3      9.7  23.7    61.9     4.4  6.51
51  지역소분류   송파구      0.4      8.0  31.9    49.9     9.8  6.52
28  지역소분류   종로구      0.8      3.0  34.4    56.8     5.0  6.55
40  지역소분류  서대문구      2.9     12.4  19.7    48.0    17.0  6.59
49  지역소분류   서초구      0.4     10.8  25.8    50.2    12.8  6.60

# 자전거 도로현황

In [87]:
data10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   지역별(2)            31 non-null     object
 1   지역별(3)            31 non-null     object
 2   노선수 합(개)          31 non-null     int64
 3   길이 합(km)          31 non-null     float64
 4   자전거 전용도로 노선수      31 non-null     object
 5   자전거 전용도로 길이       31 non-null     object
 6   자전거보행자 겸용도로 노선수   31 non-null     int64
 7   자전거보행자 겸용도로 길이    31 non-null     float64
 8   자전거 전용차로 노선수      31 non-null     object
 9   자전거 전용차로 길이       31 non-null     object
 10  자전거우선도로 노선수       31 non-null     object
 11  자전거우선도로 길이        31 non-null     object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.0+ KB

In [100]:
# 숫자열에 대해 콤마 제거 및 정수로 변환
x = [4, 5, 8, 9, 10, 11]
columns_to_process = data10.columns[x]

for column in columns_to_process:
    data10[column] = data10[column].apply(lambda x: int(float(str(x).replace('-', '0'))))

In [104]:
data10.sort_values(by = '길이 합(km)')

,지역별(2),지역별(3),노선수 합(개),길이 합(km),자전거 전용도로 노선수,자전거 전용도로 길이,자전거보행자 겸용도로 노선수,자전거보행자 겸용도로 길이,자전거 전용차로 노선수,자전거 전용차로 길이,자전거우선도로 노선수,자전거우선도로 길이
30,기타,공원,3,4.6,1,1,2,3.6,0,0,0,0
10,도로변,강북구,8,8.7,0,0,3,3.2,5,5,0,0
28,기타,교량,10,8.9,1,1,9,7.8,0,0,0,0
19,도로변,금천구,20,9.2,3,2,17,6.6,0,0,0,0
8,도로변,중랑구,22,9.8,10,3,12,6.0,0,0,0,0
11,도로변,도봉구,8,12.9,2,1,6,11.5,0,0,0,0
21,도로변,동작구,17,14.3,0,0,15,13.6,0,0,2,0
9,도로변,성북구,30,16.8,15,6,9,7.0,5,2,1,0
3,도로변,중구,21,22.4,1,4,6,7.5,0,0,14,10
18,도로변,구로구,44,27.5,4,1,38,24.7,0,0,2,1
22,도로변,관악구,19,27.7,3,4,8,19.6,0,0,8,3
5,도로변,성동구,32,27.8,2,1,18,15.9,3,2,9,8
14,도로변,서대문구,47,31.4,0,0,17,7.7,4,1,26,21
2,도로변,종로구,43,32.1,1,4,13,10.9,13,6,16,10
4,도로변,용산구,26,32.5,5,1,11,10.2,0,0,10,20
7,도로변,동대문구,33,37.7,5,2,12,7.5,0,0,16,27
23,도로변,서초구,46,41.1,1,2,41,34.9,4,4,0,0
12,도로변,노원구,44,43.7,5,2,28,28.2,11,13,0,0
13,도로변,은평구,33,44.7,1,0,30,39.6,2,4,0,0
6,도로변,광진구,50,48.3,1,0,43,43.2,1,0,5,4
16,도로변,양천구,78,56.5,31,20,43,30.1,0,0,4,5
20,도로변,영등포구,90,63.2,7,4,19,7.3,35,19,29,31
15,도로변,마포구,63,67.4,7,6,14,14.2,12,7,30,39
26,도로변,강동구,94,74.4,18,17,75,56.4,1,0,0,0
17,도로변,강서구,85,77.1,36,32,47,40.3,0,0,2,4
25,도로변,송파구,187,97.5,44,19,141,76.2,2,1,0,0
24,도로변,강남구,112,110.5,11,8,97,98.7,4,3,0,0
29,기타,하천,50,267.4,10,28,40,239.3,0,0,0,0
27,기타,소계,63,280.8,12,30,51,250.7,0,0,0,0
1,도로변,소계,1252,1035.1,213,149,763,621.0,102,73,174,190
0,소계,소계,1315,1316.0,225,179,814,871.7,102,73,174,190